@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    background-color: #073B4C;
    display: flex;
    /* max-width: 100vw; */
    align-items: center;
    margin-top: -3px;
    z-index: 1;
}
.logo{
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: auto 3%;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 50%;
}
.logo a{
    color: white;
    text-decoration: none;
}
.nav_items{
    list-style-type: none;
    display: flex;
    position: relative;
    font-size: 1.2rem;
    margin: auto;
    
    /* justify-content: space-around; */
}
.nav_items li{
    font-family: 'Poppins', sans-serif;
    margin: auto 20px;
}
.nav_items li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.toggle-button{
    position: absolute;
    top: 1.4rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #06D6A0;
    border-radius: 12px;
}
.home{
    background-color: #073B4C;
    display: flex;
    height: 510px;
    justify-content: space-around;
    align-items: center;
    margin-top: -5px;
    /* max-width: 100vw; */
}
.home img{
    width: 250px;
    height: 260px;
}
.home img:hover{
    transition-duration: 0.4s;
    width: 270px;
    height: 280px;
}
.home_content{
    margin: auto 0;
    width: 50%;
}
.heading{
    font-family: 'Roboto', sans-serif;
    color: #FFD166;
    font-weight: 700;
    font-size: 3.2rem;

}
.heading_content{
    font-family: 'Poppins', sans-serif;
    color: #06D6A0;
    font-size: 1.8rem;
    font-weight: 300;
}
.btn{
    background-color: #06D6A0;
    color: #073B4C;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 35px;
    position: absolute;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}
.btn:hover{
    transition-duration: 0.3s;
    color: #06D6A0;
    font-size: 1.7rem;
    background-color: #073B4C;
    border: 2px solid #06D6A0;
}
svg{
    margin-top: -10px;
    max-width: 100vw;
}
.about{
    display: flex;
    justify-content: space-evenly;
    /* max-width: 100vw; */
}
.about_left{
    width: 50%;
}
.about_left h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
}

.about_left p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #073B4C;
}

.about_right h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
}
.web_development{
    list-style-type: none;
    display: flex;
}
.web_development li{
    font-size: 3rem;
    padding: 12px;
    color: #073B4C;
}
.projects{
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 300px auto;
    display: flex;
    flex-direction: column;
    /* max-width: 100vw; */
    justify-content: center;
    color: white;
    font-weight: 700;
    line-height: 2;
    background-image: linear-gradient(to right top, #073b4c, #005a6a, #007b7d, #009c82, #11bc79);
}
.projects h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;    
}
.projects img{
    margin: 50px auto;
    width: 70vw;
}
.projects h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: auto;
}
.projects i{
    font-weight: 600;
    font-size: 2rem;
}

.projects h3 a{
    text-decoration: none;
    cursor: pointer;
    color: #FFD166;
    border-radius: 40px;
}
.projects h3 a:hover{
    font-size: 2.5rem;
    transition-duration: 0.4s;
}
#card{
    width: fit-content;
    margin: auto;
    color: #FFD166;
}
#card:hover{
    transition-duration: 0.4s;
    color: #06D6A0;
}
/* .services{
    max-width: 100vw;
} */
.services h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
}
.services_container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.left_services{
    width: 30%;
}
.right_services{
    width: 30%;
}
.left_services h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
    color: #073b4c; 
}
.left_services p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #073B4C;
    margin-top: 30px;
}

.right_services h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
    color: #073b4c;
}
.right_services p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #073B4C;
    margin-top: 30px;
}
.contact{
    background-color: #073b4c;
    margin-top: 90px;
    padding-bottom: 90px;
    /* max-width: 100vw; */
}
.contact h2{
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    color: white;
}
.contact_container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.contact_left{
    width: 30%;
}
.contact_right{
    width: 40%;
}
.contact_left h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #FFD166;
}
.contact_right h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #FFD166;
}
.contact_left p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: white;
    margin-top: 30px;
}
.contact_left p a{
    text-decoration: none;
    color: #FFD166;
    font-size: 2rem;
}
.contact_left p a:hover{
    transition-duration: 0.4s;
    font-weight: 500;
    color: #06D6A0;
}
.contact_right ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.contact_right ul li{
    font-size: 2.5rem;
    padding: 12px;
}
.contact_right ul li a{
    color: #06D6A0;
}
.contact_right ul li a:hover{
    transition-duration: 0.4s;
    font-size: 3.2rem;
}
footer{
    /* max-width: 100vw; */
    margin-top: -5px;
    height: 35px;
    background-color: #1e272e;
}
footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #485460;
    align-items: center;
    text-align: center;
    line-height: 35px;
}
.up{
    background-color: #06D6A0;
    color: #073B4C;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
}



/* media query  */
@media screen and (max-width: 990px){
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav_items{
        flex-direction: column;
        width: 100%;
    }
    .nav_items li{
        text-align: center;
        padding: 0.6rem 1.1rem;
    }
    .navbar{
        display: none;
        width: 100%;
    }
    .navbar.active{
        display: flex;
    }
    .toggle-button{
        display: flex;
    }
}
@media screen and (max-width:800px){
    .home{
        flex-direction: column;
        padding-top: 4rem;
        height: 95vh;
    }
    .home_content{
        margin-top: 20px;
        width: 80%;
    }
    .about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_left{
        width: 80%;
    }
    .about_right{
        margin-top: 30px;
        width: 80%;
    }
    .web_development{
        justify-content: center;
    }
    .projects{
        margin-top: 50px;
    }
    #services{
        margin-top: 20px;
    }
    .services_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .left_services{
        width: 90%;
    }
    .right_services{
        width: 90%;
        margin-top: 30px;
    }
    .contact_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact_left{
        width: 90%;
    }
    .contact_right{
        margin-top: 30px;
        width: 80%;
    }
}
@media screen and (max-width:760px){
    .home_content{
        width: 90%;
    }
    .home{
        height: 100vh;
    }
    .home_content a{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:675px){
    .home{
        height: 110vh;
    }
    .services{
        margin-top: 30px;
    }
}
@media screen and (max-width:432px){
    .logo{
        font-size: 1.8rem;
    }
    .home{
        height: 130vh;
    }
}